{% extends 'todo/base.html' %}

{% block content %}
<table class="table">
  <tr>
    <th>タイトル</th>
    <td>{{ todo.title }}</td>
  </tr>
  <tr>
    <th>本文</th>
    <td>{{ todo.memo | linebreaksbr }}</td>
  </tr>
  <tr>
    <th>締め切り</th>
    <td>{{ todo.deadline }}</td>
  </tr>


</table>

<div class='container'>
  <a href="{% url 'todo:update' todo.pk %}" class="btn btn-success" tabindex="-1" role="button"
        aria-disabled="true">更新</a>
  <a href="{% url 'todo:delete' todo.pk %}" class="btn btn-primary" tabindex="-1" role="button"
        aria-disabled="true">削除</a>
</div>


{% endblock %}
